/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}

/********************/
/* ALGEMENE STYLING */
/********************/

body {
  margin:0;
  overflow-y: hidden;
}

button:not([disabled]) {
  cursor:pointer;
}

main {
  display: flex;
}

@keyframes boat {
  0% {
    transform: translateX(800%);
  }

  50% {
    transform: translateX(800%);
  }

  100% {
    transform: translateX(2000%);
  }
}

main > img:nth-of-type(1) {
  width:10em;
  height: auto;
  position: absolute;
  top: 6.2em;
  left: 3em;
  animation-name: boat;
  animation-duration: 100s;
  z-index: 1000;
}

main > img:nth-of-type(2) {
  width:10em;
  height: auto;
  position: fixed;
  top: 8.8em;
  right: 3em;
}

section img:nth-of-type(1) {
  width: auto;
  height: 50vw;
}

p {
  font-family: Arial;
}

/* section 1 */

section:nth-of-type(1) h2{
  position: absolute;
  top:15em;
  left: 8em;
  z-index: 1000;
  color: black;
  font-size: 1.3em;
  margin: 0;
  font-family: Arial;
  width: 33em;
  line-height: 1.5em;
}

section:nth-of-type(1) p:nth-of-type(1) {
  color: black;
  font-size: 1em;
  width: 50em;
  line-height: 1.8em;
  position: absolute;
  left: 10.6em;
  top: 25em;
}


/* section 2 */
@keyframes tekst {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}
section:nth-of-type(2) p {
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  width: 30em;
  line-height: 2em;
  animation-name: tekst;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: absolute;
  top:15em;
  left: 115em;
}

@keyframes walvis {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(-20%);
  }
}

section:nth-of-type(3) img:nth-of-type(2) {
  position: absolute;
  width: 28em;
  top: 30em;
  left: 160em;
  animation-name: walvis;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

section:nth-of-type(3) img:nth-of-type(3) {
  position: absolute;
  width: 28em;
  top: 25em;
  left: 225em;
  transform: rotate(-45deg);
  animation-name: walvis;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  rotate: 15deg;
}

section:nth-of-type(3) img:nth-of-type(4) {
  position: absolute;
  width: 20em;
  top: 18em;
  left: 240em;
  animation-name: walvis;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

section:nth-of-type(3) p {
  font-size: .9em;
  font-family: Arial, Helvetica, sans-serif;
  width: 30em;
  line-height: 1.4em;
  animation-name: tekst;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: absolute;
}

section:nth-of-type(3) p:nth-of-type(1) {
  top:16em;
  left: 180em;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  color: black;
}

section:nth-of-type(3) p:nth-of-type(2){
  top:27em;
  left: 218em;
  color: black;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  color: black;
}



